includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - ../../src
        - ../../extensions/studio/src
        - ../../extensions/payments/src
        - ../../tests
    excludePaths:
        - ../../vendor
    bootstrapFiles:
        - ../../scripts/boundary_check.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
