<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="../../vendor/autoload.php"
         cacheDirectory="../../.phpunit.cache"
         colors="true"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>../../tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>../../tests/Integration</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>../../tests/E2E</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="256M"/>
    </php>
    <source>
        <include>
            <directory>../../src</directory>
            <directory>../../extensions/payments/src</directory>
            <directory>../../extensions/psr7-bridge/src</directory>
            <directory>../../extensions/studio/src</directory>
            <directory>../../extensions/observability-export/src</directory>
            <directory>../../extensions/social-sso/src</directory>
            <directory>../../extensions/mcp-server/src</directory>
            <directory>../../extensions/orm/src</directory>
            <directory>../../extensions/admin/src</directory>
            <directory>../../extensions/opentelemetry/src</directory>
        </include>
    </source>
</phpunit>
